In [14]:
# subword Tokenizer을 활용하여 간편하게 분리 진행하기

In [15]:
import pandas as pd

train_df = pd.read_csv('IMDb_Reviews.csv')

In [16]:
train_df.head()

                                              review  sentiment
0  My family and I normally do not watch local mo...          1
1  Believe it or not, this was at one time the wo...          0
2  After some internet surfing, I found the "Home...          0
3  One of the most unheralded great works of anim...          1
4  It was the Sixties, and anyone with long hair ...          0

! pip3 install tensorflow-datasets

conda install tensorflow-datasets

In [17]:
import tensorflow as tf

In [18]:
import tensorflow_datasets as tfds

In [19]:
tokenizer = tfds.deprecated.text.SubwordTextEncoder.build_from_corpus(train_df['review'], target_vocab_size=2**13)

In [22]:
print(tokenizer.subwords[:100])

['the_', ', ', '. ', 'a_', 'and_', 'of_', 'to_', 's_', 'is_', 'br', 'in_', 'I_', 'that_', 'this_', 'it_', ' /><', ' />', 'was_', 'The_', 't_', 'as_', 'with_', 'for_', '.<', 'on_', 'but_', 'movie_', 'are_', ' (', 'have_', 'his_', 'film_', 'not_', 'be_', 'you_', 'ing_', ' "', 'ed_', 'it', 'd_', 'an_', 'at_', 'by_', 'he_', 'one_', 'who_', 'from_', 'y_', 'or_', 'e_', 'like_', 'all_', '" ', 'they_', 'so_', 'just_', 'has_', ') ', 'about_', 'her_', 'out_', 'This_', 'some_', 'movie', 'ly_', 'film', 'very_', 'more_', 'It_', 'what_', 'would_', 'when_', 'if_', 'good_', 'up_', 'which_', 'their_', 'only_', 'even_', 'my_', 'really_', 'had_', 'can_', 'no_', 'were_', 'see_', '? ', 'she_', 'than_', '! ', 'there_', 'been_', 'get_', 'into_', 'will_', ' - ', 'much_', 'n_', 'because_', 'ing']

In [23]:
print(train_df['review'][20])

Pretty bad PRC cheapie which I rarely bother to watch over again, and it's no wonder -- it's slow and creaky and dull as a butter knife. Mad doctor George Zucco is at it again, turning a dimwitted farmhand in overalls (Glenn Strange) into a wolf-man. Unfortunately, the makeup is virtually non-existent, consisting only of a beard and dimestore fangs for the most part. If it were not for Zucco and Strange's presence, along with the cute Anne Nagel, this would be completely unwatchable. Strange, who would go on to play Frankenstein's monster for Unuiversal in two years, does a Lenny impression from "Of Mice and Men", it seems.<br /><br />*1/2 (of Four)

In [25]:
print(tokenizer.encode(train_df['review'][20]))

[1590, 4162, 132, 7107, 1892, 2983, 578, 76, 12, 4632, 3422, 7, 160, 175, 372, 2, 5, 39, 8051, 8, 84, 2652, 497, 39, 8051, 8, 1374, 5, 3461, 2012, 48, 5, 2263, 21, 4, 2992, 127, 4729, 711, 3, 1391, 8044, 3557, 1277, 8102, 2154, 5681, 9, 42, 15, 372, 2, 3773, 4, 3502, 2308, 467, 4890, 1503, 11, 3347, 1419, 8127, 29, 5539, 98, 6099, 58, 94, 4, 1388, 4230, 8057, 213, 3, 1966, 2, 1, 6700, 8044, 9, 7069, 716, 8057, 6600, 2, 4102, 36, 78, 6, 4, 1865, 40, 5, 3502, 1043, 1645, 8044, 1000, 1813, 23, 1, 105, 1128, 3, 156, 15, 85, 33, 23, 8102, 2154, 5681, 5, 6099, 8051, 8, 7271, 1055, 2, 534, 22, 1, 3046, 5214, 810, 634, 8120, 2, 14, 71, 34, 436, 3311, 5447, 783, 3, 6099, 2, 46, 71, 193, 25, 7, 428, 2274, 2260, 6487, 8051, 8, 2149, 23, 1138, 4117, 6023, 163, 11, 148, 735, 2, 164, 4, 5277, 921, 3395, 1262, 37, 639, 1349, 349, 5, 2460, 328, 15, 5349, 8127, 24, 10, 16, 10, 17, 8054, 8061, 8059, 8062, 29, 6, 6607, 8126, 8053]

In [26]:
print(tokenizer.decode(tokenizer.encode(train_df['review'][20])))

Pretty bad PRC cheapie which I rarely bother to watch over again, and it's no wonder -- it's slow and creaky and dull as a butter knife. Mad doctor George Zucco is at it again, turning a dimwitted farmhand in overalls (Glenn Strange) into a wolf-man. Unfortunately, the makeup is virtually non-existent, consisting only of a beard and dimestore fangs for the most part. If it were not for Zucco and Strange's presence, along with the cute Anne Nagel, this would be completely unwatchable. Strange, who would go on to play Frankenstein's monster for Unuiversal in two years, does a Lenny impression from "Of Mice and Men", it seems.<br /><br />*1/2 (of Four)

In [27]:
sample_string = "It's mind-blowing to me that this film was even made."

tokenized_string = tokenizer.encode(sample_string)
print('정수 인코딩 후 : ', tokenized_string)

original_string = tokenizer.decode(tokenized_string)
print('원본 디코딩 후 : ', original_string)

정수 인코딩 후 :  [137, 8051, 8, 910, 8057, 2169, 36, 7, 103, 13, 14, 32, 18, 79, 681, 8058]
원본 디코딩 후 :  It's mind-blowing to me that this film was even made.

In [28]:
print('단어 집합의 크기 : ', tokenizer.vocab_size)

단어 집합의 크기 :  8268

In [30]:
for ts in tokenized_string:
    print('{} ------> {}'.format(ts, tokenizer.decode([ts])))

137 ------> It
8051 ------> '
8 ------> s
910 ------> mind
8057 ------> -
2169 ------> blow
36 ------> ing
7 ------> to
103 ------> me
13 ------> that
14 ------> this
32 ------> film
18 ------> was
79 ------> even
681 ------> made
8058 ------> .

In [33]:
sample_string = "It's mind-blowingxyz to me that this film was even made."
# 의미없는 알파벳을 이어 붙였을 때

tokenized_string = tokenizer.encode(sample_string)
print('정수 인코딩 후 : ', tokenized_string)

original_string = tokenizer.decode(tokenized_string)
print('원본 디코딩 후 : ', original_string)

정수 인코딩 후 :  [137, 8051, 8, 910, 8057, 2169, 100, 8132, 8133, 997, 7, 103, 13, 14, 32, 18, 79, 681, 8058]
원본 디코딩 후 :  It's mind-blowingxyz to me that this film was even made.

In [34]:
for ts in tokenized_string:
    print('{} ------> {}'.format(ts, tokenizer.decode([ts])))

137 ------> It
8051 ------> '
8 ------> s
910 ------> mind
8057 ------> -
2169 ------> blow
100 ------> ing
8132 ------> x
8133 ------> y
997 ------> z
7 ------> to
103 ------> me
13 ------> that
14 ------> this
32 ------> film
18 ------> was
79 ------> even
681 ------> made
8058 ------> .

In [35]:
train_data = pd.read_table('ratings_train.txt')
test_data = pd.read_table('ratings_test.txt')

In [36]:
train_data.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [37]:
test_data.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [38]:
print(train_data.isnull().values.any())

True

In [39]:
# True : 빈값(결측값) 존재)

In [40]:
train_data = train_data.dropna()
print(train_data.isnull().values.any())

False

In [43]:
tokenizer = tfds.deprecated.text.SubwordTextEncoder.build_from_corpus(train_data['document'], target_vocab_size=2**13)

In [44]:
print(tokenizer.subwords[:100])

['. ', '..', '영화', '이_', '...', '의_', '는_', '도_', '다', ', ', '을_', '고_', '은_', '가_', '에_', '.. ', '한_', '너무_', '정말_', '를_', '고', '게_', '영화_', '지', '... ', '진짜_', '이', '다_', '요', '만_', '? ', '과_', '나', '가', '서_', '지_', '로_', '으로_', '아', '어', '....', '음', '한', '수_', '와_', '도', '네', '그냥_', '나_', '더_', '왜_', '이런_', '면_', '기', '하고_', '보고_', '하는_', '서', '좀_', '리', '자', '스', '안', '! ', '에서_', '영화를_', '미', 'ㅋㅋ', '네요', '시', '주', '라', '는', '오', '없는_', '에', '해', '사', '!!', '영화는_', '마', '잘_', '수', '영화가_', '만', '본_', '로', '그_', '지만_', '대', '은', '비', '의', '일', '개', '있는_', '없다', '함', '구', '하']

In [45]:
print(train_data['document'][23])

절대 평범한 영화가 아닌 수작이라는걸 말씀드립니다.

In [46]:
print(tokenizer.encode(train_data['document'][23]))

[749, 3004, 84, 633, 4801, 1018, 329, 194, 2432, 2042, 8044]

In [49]:
sample_string = "영화시간이 너무 길어서 보기 힘들었다."

tokenized_string = tokenizer.encode(sample_string)
print('정수 인코딩 후 : ', tokenized_string)

original_string = tokenizer.decode(tokenized_string)
print('원본 디코딩 후 : ', original_string)

정수 인코딩 후 :  [3, 549, 18, 308, 956, 678, 3106, 9, 8044]
원본 디코딩 후 :  영화시간이 너무 길어서 보기 힘들었다.

In [51]:
sample_string = "성인돼서 다시 보니 조금 유치한 것 같아서 졸았다."

tokenized_string = tokenizer.encode(sample_string)
print('정수 인코딩 후 : ', tokenized_string)

original_string = tokenizer.decode(tokenized_string)
print('원본 디코딩 후 : ', original_string)

정수 인코딩 후 :  [1839, 1567, 35, 164, 847, 782, 2158, 156, 2799, 6611, 9, 8044]
원본 디코딩 후 :  성인돼서 다시 보니 조금 유치한 것 같아서 졸았다.

In [52]:
for ts in tokenized_string:
    print('{} ------> {}'.format(ts, tokenizer.decode([ts])))

1839 ------> 성인
1567 ------> 돼
35 ------> 서
164 ------> 다시
847 ------> 보니
782 ------> 조금
2158 ------> 유치한
156 ------> 것
2799 ------> 같아서
6611 ------> 졸았
9 ------> 다
8044 ------> .

In [53]:
pip install tokenizers

Collecting tokenizers
  Downloading tokenizers-0.19.1-cp310-cp310-macosx_11_0_arm64.whl.metadata (6.7 kB)
Collecting huggingface-hub<1.0,>=0.16.4 (from tokenizers)
  Downloading huggingface_hub-0.23.4-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: filelock in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.16.4->tokenizers) (3.13.1)
Collecting fsspec>=2023.5.0 (from huggingface-hub<1.0,>=0.16.4->tokenizers)
  Downloading fsspec-2024.6.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging>=20.9 in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.16.4->tokenizers) (23.2)
Collecting pyyaml>=5.1 (from huggingface-hub<1.0,>=0.16.4->tokenizers)
  Downloading PyYAML-6.0.1-cp310-cp310-macosx_11_0_arm64.whl.metadata (2.1 kB)
Requirement already satisfied: requests in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.16.4->tokenizers) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.16.4->tokenizers) (4.66.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from huggingface-hub<1.0,>=0.16.4->tokenizers) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from requests->huggingface-hub<1.0,>=0.16.4->tokenizers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from requests->huggingface-hub<1.0,>=0.16.4->tokenizers) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from requests->huggingface-hub<1.0,>=0.16.4->tokenizers) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jeon-yewon/miniforge3/envs/tensorflow/lib/python3.10/site-packages (from requests->huggingface-hub<1.0,>=0.16.4->tokenizers) (2024.7.4)
Downloading tokenizers-0.19.1-cp310-cp310-macosx_11_0_arm64.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 6.8 MB/s eta 0:00:0000:0100:01m
Downloading huggingface_hub-0.23.4-py3-none-any.whl (402 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 402.6/402.6 kB 34.4 MB/s eta 0:00:00
Downloading fsspec-2024.6.1-py3-none-any.whl (177 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.6/177.6 kB 21.5 MB/s eta 0:00:00
Downloading PyYAML-6.0.1-cp310-cp310-macosx_11_0_arm64.whl (169 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.3/169.3 kB 20.8 MB/s eta 0:00:00
Installing collected packages: pyyaml, fsspec, huggingface-hub, tokenizers
Successfully installed fsspec-2024.6.1 huggingface-hub-0.23.4 pyyaml-6.0.1 tokenizers-0.19.1
Note: you may need to restart the kernel to use updated packages.

In [56]:
from tokenizers import BertWordPieceTokenizer

In [57]:
naver_df = pd.read_table('ratings.txt')
naver_df.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [58]:
naver_df = naver_df.dropna()
print(naver_df.isnull().values.any())

False

In [60]:
with open('naver_review.txt', 'w', encoding='utf-8') as f:
    f.write('\n'.join(naver_df['document']))

In [63]:
tokenizer = BertWordPieceTokenizer(lowercase=False, strip_accents=False)

-> lowercase : True인 경우 tokenizer는 영어의 대문자와 소문자를 동일한 문자 취급
-> strip_accents : True인 경우 악센트 제거 (é → e, ô → o)

-> wordpieces_prefix : 서브워드의 경우 분리되었을 때 뒤에 나오는 서브워드 앞에 ##을 붙여서 분리된 단어임을 표시한다.
ex) 외국디자이너 -> 외국, ##디자이너

In [69]:
data_file = 'naver_review.txt'
vocab_size = 30000
limit_alphabet = 6000
min_frequency = 5

# limit_alphabet : merge가 되지 않은 초기 토큰(문자 단위)의 허용 제한 개수
# min_frequency : merge을 위한 pair의 최소 등장 횟수
tokenizer.train(files=data_file, vocab_size=vocab_size, limit_alphabet=limit_alphabet, min_frequency=min_frequency)

In [70]:
tokenizer.save_model('./')

['./vocab.txt']

In [71]:
df = pd.read_fwf('vocab.txt', header=None)
df.tail()

         0
29995   맘을
29996   맛도
29997  망하지
29998  망한다
29999  망가지

In [72]:
encoded = tokenizer.encode('성인돼서 다시 보니 조금 유치한 것 같아서 졸았다.')
print('토큰화 결과 : ', encoded.tokens)
print('정수 인코딩 : ', encoded.ids)
print('디코딩 : ', tokenizer.decode(encoded.ids))

토큰화 결과 :  ['성인', '##돼서', '다시', '보니', '조금', '유치한', '것', '같아서', '졸았다', '.']
정수 인코딩 :  [8183, 20803, 5895, 6758, 6190, 7258, 612, 8572, 15936, 18]
디코딩 :  성인돼서 다시 보니 조금 유치한 것 같아서 졸았다.

In [75]:
from tokenizers import ByteLevelBPETokenizer, CharBPETokenizer, SentencePieceBPETokenizer

In [76]:
tokenizer = SentencePieceBPETokenizer()
tokenizer.train('naver_review.txt', vocab_size=10000, min_frequency=5)

encoded = tokenizer.encode('성인돼서 다시 보니 조금 유치한 것 같아서 졸았다.')
print(encoded.tokens)

['▁성인', '돼', '서', '▁다시', '▁보니', '▁조금', '▁유치한', '▁것', '▁같아서', '▁졸', '았다.']