# 과제1) 네이버 TV에서 채널별 조회수 더해서(모아서) 출력 -> 정렬까지

In [2]:
import requests
from bs4 import BeautifulSoup
import os
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [3]:
# 조회수가 '만'단위로 표시되어 있는 경우가 있어서 변환 과정을 진행했습니다.
# (+ views_text라는 문자형을 숫자형으로 변환)
def conversion_of_units(views_text):
    views_text = views_text.replace('재생수', '').strip()
    if '만' in views_text: # views_text 중 '만' 단어가 포함되어 있다면,
        views = float(views_text.replace('만', '')) * 10000 # 만을 제거하고, 10000(숫자 만)을 곱해준다.
    else: # 그렇지 않을 경우('만' 표시가 없을 경우)
        views = float(views_text.replace(',', '')) # 쉼표 표시(,)를 제거한다.
    return int(views) # 값 반환(정수형)

driver = webdriver.Chrome() # Chrome 창 설정

try: # 예외처리
    driver.get("https://tv.naver.com/r") # 네이버 TV 접속

    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CSS_SELECTOR, "ol.i_grid_top100_list__pV4sf")))
    # 페이지 소스 중 특정 요소에 로드될 때까지 기다려준다.(안전하게 접근하기 위해)
    time.sleep(5) # 딜레이(5초)

    html = driver.page_source # 페이지 소스를 가져온다.
    soup = BeautifulSoup(html, 'lxml') # 파싱

    clips = soup.select('ol.i_grid_top100_list__pV4sf > li') # 조회수가 표시된 각 클립 선택

    channel_views = {} # 빈 딕셔너리 생성
    
    for clip in clips: # 반복문, clip이 clips 내에 있는 동안
        channel_name = clip.select_one('span.Top100ClipCard_item__LiS9I').get_text(strip=True) # 채널명에 접근
        views_text = clip.select('span.Top100ClipCard_item__LiS9I')[1].get_text(strip=True) # 조회수에 접근
        views = conversion_of_units(views_text) # views에 상단에 작성한 함수를 통해 변환된 views_text값을 넣어준다.
        
        if channel_name in channel_views: # 조건문, 만약 채널명이 이미 딕셔너리 안에 존재하고 있다면
            channel_views[channel_name] += views # 기존 조회수에 값을 추가해준다.
        else: # 그렇지 않다면,(최초로 발견된 경우)
            channel_views[channel_name] = views # 그 값으로 초기화(대입)을 진행한다.

    sorted_ = sorted(channel_views.items(), key=lambda item: item[1], reverse=True)
    # 내림차순으로 정렬하는 코드
    # sorted(), reverse=True : 내림차순 정렬 함수(반대로 reverse=False의 경우 오름차순을 의미한다.)
    # 딕셔너리의 각 항목을 튜플로 불러와준 후 정렬 기준을 item[1] 즉, '조회수'로 선정해준다.
    
    i = 1 # 인덱스 변수 초기화

    for channel_name, views in sorted_: # 반복문, channel_name과 views가 sorted_ 내에 있을 때
        print(f'{i}. 채널명 : {channel_name} \n조회수 : {views:,}회\n') 
        # 채널 순위, 채널명, 조회수 출력(조회수 속 숫자는 100단위를 기준으로 쉼표를 추가해주었습니다.)

        i += 1 # 인덱스 변수 증가(다음 번호로 넘어갈 수 있도록)
     
finally:
    driver.quit()

1. 채널명 : 채널네이버페이(NAVER PAY)
조회수 : 3,290,000회

2. 채널명 : 채널선재 업고 튀어
조회수 : 376,000회

3. 채널명 : 채널Choi주부
조회수 : 203,000회

4. 채널명 : 채널JTBC뉴스
조회수 : 127,000회

5. 채널명 : 채널나는 SOLO
조회수 : 124,000회

6. 채널명 : 채널SBS뉴스
조회수 : 124,000회

7. 채널명 : 채널MBC뉴스
조회수 : 118,000회

8. 채널명 : 채널KBS뉴스
조회수 : 66,855회

9. 채널명 : 채널유 퀴즈 온 더 블럭
조회수 : 63,259회

10. 채널명 : 채널네이버 영화 예고편 저장소
조회수 : 63,000회

11. 채널명 : 채널TV조선 뉴스
조회수 : 32,884회

12. 채널명 : 채널MBN 뉴스
조회수 : 31,063회

13. 채널명 : 채널틈만나면,
조회수 : 27,000회

14. 채널명 : 채널채널A뉴스
조회수 : 26,748회

15. 채널명 : 채널헬스조선 TV
조회수 : 24,000회

16. 채널명 : 채널뉴스는 YTN
조회수 : 22,814회

17. 채널명 : 채널요즘남자라이프 신랑수업
조회수 : 17,640회

18. 채널명 : 채널연합뉴스TV
조회수 : 15,798회

19. 채널명 : 채널아빠하고 나하고
조회수 : 5,310회

20. 채널명 : 채널건나물TV
조회수 : 4,543회

21. 채널명 : 채널졸업
조회수 : 3,379회

22. 채널명 : 채널한겨레TV
조회수 : 1,400회

In [38]:
# 강사님 코드
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

driver = webdriver.Chrome()

try:
    driver.get("https://tv.naver.com/r")

    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CSS_SELECTOR, "ol.i_grid_top100_list__pV4sf")))
    time.sleep(5)

    html = driver.page_source
    soup = BeautifulSoup(html, 'lxml')

    infos = soup.select('div.Top100ClipCard_information_area__CS_o7')
    chn_views = {} # 채널명, 겹치지 않게 해주고 싶어서 딕셔너리 생성
    
    if infos:
        for info in infos:
            chn = info.select_one('span.Top100ClipCard_channel_name__etl_R').text.strip()
            view_ = info.select_one('span.Top100ClipCard_text__SHvyw').text.strip()
            
            if '만' in view_ : 
                view_ = int(float(view_.replace('만', ''))*10000)
            else:
                view_ = int(view_.replace(',', ''))

            if chn in chn_views.keys():
                chn_views[chn] += view_
            else:
                chn_views[chn] = view_

    sorted_chn_views = sorted(chn_views.items(), key = lambda item : item[1], reverse=True)

    for c, v in sorted_chn_views:
        print(c, v)
    
finally:
    driver.quit()

네이버페이(NAVER PAY) 3300000
선재 업고 튀어 378000
Choi주부 204000
나는 SOLO 139000
SBS뉴스 129000
MBC뉴스 121000
JTBC뉴스 114396
유 퀴즈 온 더 블럭 68490
KBS뉴스 61163
졸업 43688
네이버 영화 예고편 저장소 39000
TV조선 뉴스 33294
채널A뉴스 28154
틈만나면, 27000
헬스조선 TV 26000
MBN 뉴스 24071
뉴스는 YTN 21888
요즘남자라이프 신랑수업 16953
연합뉴스TV 11039
백패커2 11000
라디오스타 8916
비밀은 없어 6294
돌싱글즈5 5564
아빠하고 나하고 5349
골 때리는 그녀들 5181
스포타임#뉴스 2936
한겨레TV 1425

In [58]:
chn_views2 = chn_views.copy()

In [59]:
import pandas as pd

for k, v in chn_views2.items():
    lst = [v]
    chn_views2[k] = lst

df = pd.DataFrame(chn_views2).T # 본 코드만 작성하고 실행하면 chn_views가 데이터프레임 형태가 아님으로 오류가 발생한다.
df

                        0
나는 SOLO            139000
유 퀴즈 온 더 블럭         68490
요즘남자라이프 신랑수업        16953
선재 업고 튀어           378000
SBS뉴스              129000
MBC뉴스              121000
JTBC뉴스             114396
졸업                  43688
뉴스는 YTN             21888
KBS뉴스               61163
틈만나면,               27000
연합뉴스TV              11039
라디오스타                8916
아빠하고 나하고             5349
TV조선 뉴스             33294
MBN 뉴스              24071
헬스조선 TV             26000
골 때리는 그녀들            5181
Choi주부             204000
채널A뉴스               28154
한겨레TV                1425
네이버페이(NAVER PAY)  3300000
백패커2                11000
네이버 영화 예고편 저장소      39000
돌싱글즈5                5564
스포타임#뉴스              2936
비밀은 없어               6294

In [53]:
# 조금 더 편하게 데이터프레임 생성하기
df = pd.DataFrame({
    "채널" : chn_views.keys(),
    "조회수" : chn_views.values() # [chn_views[key] for key in chn_views.key()]도 가능
})

df.sort_values("조회수", ascending=False)

                  채널      조회수
21  네이버페이(NAVER PAY)  3300000
3           선재 업고 튀어   378000
18            Choi주부   204000
0            나는 SOLO   139000
4              SBS뉴스   129000
5              MBC뉴스   121000
6             JTBC뉴스   114396
1        유 퀴즈 온 더 블럭    68490
9              KBS뉴스    61163
7                 졸업    43688
23    네이버 영화 예고편 저장소    39000
14           TV조선 뉴스    33294
19             채널A뉴스    28154
10             틈만나면,    27000
16           헬스조선 TV    26000
15            MBN 뉴스    24071
8            뉴스는 YTN    21888
2       요즘남자라이프 신랑수업    16953
11            연합뉴스TV    11039
22              백패커2    11000
12             라디오스타     8916
26            비밀은 없어     6294
24             돌싱글즈5     5564
13          아빠하고 나하고     5349
17         골 때리는 그녀들     5181
25           스포타임#뉴스     2936
20             한겨레TV     1425