# 05.13. 금일 과제

1. 스포츠 데이터를 이용해 풀어보기
- 상위 5개 행 출력 (승률X, 데이터 기준)
- 평균 득점 및 평균 실점 계산
- 홈 경기 승률, 어웨이 경기 승률
- 상대팀 별 승리 횟수 TOP3 출력
- 연승 최대횟수 구하기

In [16]:
# 1000개의 스포츠 데이터 생성
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'Team' : ['Team_' + str(i) for i in range(1, 1001)],
    'Game': np.random.randint(1, 241, 1000),
    'Score': np.random.randint(1, 30, 1000),
    'Conceded' : np.random.randint(1, 30, 1000),
    'Home_Win': np.random.randint(0, 2, 1000),
    'Away_Win': np.random.randint(0, 2, 1000),
    'WinStreak': np.random.randint(0, 11, 1000)
})
print(data)
print()

# 상위 5개의 행 출력
print(data.head(), '\n')

# 평균 득점 및 평균 실점 계산
print("[ 평균 득점 및 실점 계산 ]")
avg_score = data['Score'].mean()
print(f"평균 득점 : {avg_score : .2f}")
avg_conceded = data['Conceded'].mean()
print(f"평균 실점: {avg_conceded:.2f}", '\n')

# 홈 경기 승률, 어웨이 경기 승률
print("[ 홈 경기 승률, 어웨이 경기 승률 ]")
rate1 = data['Home_Win'].mean()
print(f"홈 경기 승률 : {rate1 : .2%}")
rate2 = data['Away_Win'].mean()
print(f"어웨이 경기 승률 : {rate2 : .2%}", '\n')

# 상대팀 별 승리 횟수 TOP3 출력
print("[ 상대팀 별 승리 횟수 TOP3 출력 ]")

# 연승 최대횟수
print("[ 연승 최대횟수 구하기 ]")
max_win_streak = data['WinStreak'].max()
print(f"연승 최대횟수 : {max_win_streak}")

          Team  Game  Score  Conceded  Home_Win  Away_Win  WinStreak
0       Team_1    59     14        16         0         0          7
1       Team_2    47     21        14         1         0          1
2       Team_3   123     11        28         1         1          5
3       Team_4    47      1         2         1         1          3
4       Team_5   144     26        21         0         1          5
..         ...   ...    ...       ...       ...       ...        ...
995   Team_996    20     17        20         0         0         10
996   Team_997    19     22        26         0         1          5
997   Team_998   184     16         8         1         1          0
998   Team_999   102     10        12         1         0          7
999  Team_1000    86      2         5         1         1          9

[1000 rows x 7 columns]

     Team  Game  Score  Conceded  Home_Win  Away_Win  WinStreak
0  Team_1    59     14        16         0         0          7
1  Team_2    47     21        14         1         0          1
2  Team_3   123     11        28         1         1          5
3  Team_4    47      1         2         1         1          3
4  Team_5   144     26        21         0         1          5

[ 평균 득점 및 실점 계산 ]
평균 득점 :  14.93
평균 실점: 14.89

[ 홈 경기 승률, 어웨이 경기 승률 ]
홈 경기 승률 :  49.50%
어웨이 경기 승률 :  48.50%

[ 상대팀 별 승리 횟수 TOP3 출력 ]
[ 연승 최대횟수 구하기 ]
연승 최대횟수 : 10

In [ ]:
# 과제 1
# 과제 강사님 풀이
# 기존에 주신 데이터로 작성하는 것
import pandas as pd
import numpy as np

# 데이터 집어넣고 테스트 해보기

# 상위 5개 행 출력 (승률X, 데이터 기준)
df.head()

# 평균 득점 및 평균 실점 계산
average_score = df['Score'].mean()
average_opponent = df['OpponentScore'].mean()

print("평균 득점 : %.2f, 평균 실점 : %.2f" %(average_score, average_opponent))

# 홈 경기 승률, 어웨이 경기 승률
home_game  = df[df['Home/Away'] == 'Home']
home_win = (home_game['Result'] == 'Win').mean()

away_game = df[df['Home/Away'] == 'Away']
away_win = (away_game['Result'] == 'Win').mean()

print(f"홈 경기 승률 : (home_win*100 : .2f}%, 어웨이 경기 승률 : away_win*100 : .2f)%")

# 상대팀 별 승리 횟수 TOP3 출력
wins = df[df'Result'] == 'Win']['Opponent'].value_counts()
wins.sort_values()
wins.head(3)
# 위 두 개 코드를 작성하면 출력되는 데이터를 순서대로 정렬해준다.

# 연속 승리 최대횟수 구하기
max_win_streak = data['WinStreak'].max()
print(f"최대 연승 횟수: {max_win_streak}")
max = groupby

# 연승 최대횟수 구하기
max = 0
count = 0

for i in df.iloc[:, -1] :
    print(i)
    if i == 'Win' :
        count += 1
    else :
        count = 0

    if max < count :
        max = count

print(" 연승 최대 횟수 : %d", max)

2. 사람 데이터를 이용해 풀어보기
- 도시별 평균 나이 구하기
- 가장 많은 사람이 살고 있는 도시
- 연봉을 추가해서 랜덤으로 할당 (50,000 ~ 300,000)
- 연봉 순서대로 정렬한 후 연봉의 1등과 꼴등 출력해보기

In [31]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'Name': ['Person_' + str(i) for i in range(1,1001)],
    'Age' : np.random.randint(20,60,1000),
    'Salary' : np.random.randint(50000, 300000, 1000),
    'City' : np.random.choice(["Seoul", "Busan", "Daegu", "Incheon", "Gwangju", "Daejon", "Ulsan"], 1000)
})

print(data)
print()

print("도시별 평균 나이 : ")
# avg = data.groupby("City")["Age"].mean()
# print(avg, '\n')
# gorupby 대신 쓸 수 있는 용어 : df['City']
# city에 속하는 age 출력

city_age = {} # 딕셔너리 생성
city_count = {} # 딕셔너리 생성

for index, row in data.iterrows() :
    city = row['City']
    age = row['Age']

    if city in city_age :
        city_age[city] += age
        city_count[city] += 1
    else :
        city_age[city] = age
        city_count[city] = 1

average = {city: city_age[city] / city_count[city] for city in city_age}
print(average)

for city, age in average.items() :
    print(f"{city} : {age:/2f}")
    

print("가장 많은 사람이 살고 있는 도시 : ")
print(data["City"].value_counts().idxmax())
# most_pop = data['City'].value_counts().idmax()
# most_pop

# 연봉을 추가해서 랜덤으로 할당
# data['Salary'] = np.random.randint(50000, 3000000, size = data.shape[0])
# data.head()

print("\n연봉 순서대로 정렬 : ")
data = data.sort_values("Salary", ascending =  False)
print(data[["Name", "Salary"]])

print("연봉 1등 : ")
print(data.iloc[0]["Name"], data.iloc[0]["Salary"])
# 또는 print(data.loc[data['Salary'].idxmax()])

print("연봉 꼴등:")
print(data.iloc[-1]["Name"], data.iloc[-1]["Salary"])
# 또는 print(data.loc[data['Salary'].idxmin()])

data = data.sort_values('Salary')
print(data.iloc[0])
print(data.iloc[len(data)-1])

print(data.hear(1))
print(data.tail(1))

            Name  Age  Salary     City
0       Person_1   22  125536   Daejon
1       Person_2   40  195461  Incheon
2       Person_3   45  252983  Gwangju
3       Person_4   44  159938  Incheon
4       Person_5   41   74270    Seoul
..           ...  ...     ...      ...
995   Person_996   30   73721    Busan
996   Person_997   24   50670    Busan
997   Person_998   46   87342   Daejon
998   Person_999   41  145212  Gwangju
999  Person_1000   22   64029   Daejon

[1000 rows x 4 columns]

도시별 평균 나이 :
{'Daejon': 40.86986301369863, 'Incheon': 39.55797101449275, 'Gwangju': 39.5, 'Seoul': 39.312056737588655, 'Busan': 38.10489510489511, 'Ulsan': 39.023809523809526, 'Daegu': 37.979166666666664}

ValueError: Invalid format specifier '/2f' for object of type 'float'

In [57]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'Name': ['Person_' + str(i) for i in range(1,1001)],
    'Age' : np.random.randint(20,60,1000),
    'Salary' : np.random.randint(50000, 300000, 1000),
    'City' : np.random.choice(["Seoul", "Busan", "Daegu", "Incheon", "Gwangju", "Daejon", "Ulsan"], 1000)
})

print("도시별 평균 나이 : ")
avg = data.groupby('City')['Age'].mean().round(2)
print(avg)
# avg = data.groupby("City")["Age"].mean()
# print(avg, '\n')

도시별 평균 나이 :
City
Busan      40.15
Daegu      40.63
Daejon     42.48
Gwangju    38.04
Incheon    40.29
Seoul      40.62
Ulsan      41.44
Name: Age, dtype: float64

In [71]:
# 최대 연승 횟수 구하기
data = {
    'Date': ['2024-05-01', '2024-05-05', '2024-05-08', '2024-05-12', '2024-05-15', '2024-05-18', '2024-05-21', '2024-05-25'],
    'Opponent': ['Team A', 'Team B', 'Team C', 'Team A', 'Team D', 'Team B', 'Team E', 'Team C'],
    'Home/Away': ['Home', 'Away', 'Away', 'Home', 'Home', 'Away', 'Home', 'Away'],
    'Score': [3, 2, 1, 4, 3, 2, 5, 1],
    'OpponentScore': [1, 2, 2, 1, 2, 3, 2, 1],
    'Result': ['Win', 'Loss', 'Loss', 'Win', 'Win', 'Loss', 'Win', 'Win']
}


import pandas as pd

# 최대 연승 횟수 계산


# 연승 최대횟수 구하기, group by 활용

df = pd.DataFrame(data)

df['Win'] = df['Result'] == 'Win'
df

# shift = 한 행 아래로 이동(shift(1), shift(-1)
print(df['Win'].shift())
win_group = df['Win'] != df['Win'].shift()
win_group

max = df.groupby('Opponent')['Win'].apply(lambda x: x.cumsum().max())

print(max)

0      NaN
1     True
2    False
3    False
4     True
5     True
6    False
7     True
Name: Win, dtype: object
Opponent
Team A    2
Team B    0
Team C    1
Team D    1
Team E    1
Name: Win, dtype: int64

In [75]:
df['CumWin'] = df['Win'].groupby(win_group).cumcount() + 1
df['CumWin'] = df['CumWin'] * df['Win']
df['CumWin'].max()
# 연속으로 패배한 것은 count 하지 않겠다. ? ? 근데 왜 Win이 들어갈까
# 0의 값이 추가로 들어간게 보임

5